{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<script type="text/javascript" src={% static "js/jquery-1.8.3.min.js"%}></script>
	<script type="text/javascript" src={% static "js/jquery.SuperSlide.2.1.1.js"%}></script>
	<link rel="stylesheet" type="text/css" href={% static "css/news.css"%}>
</head>
<body>
	<div class="head">
            <div class="head-box">
                 <div class="nav">
                     <ul>
                     	<li>
                             <a href="/index" >主页</a>
                                </li>
                        <li>
                             <a href="/news_list?theme=entertainment&page=1" >娱乐</a>
                                </li>
                        <li>
                             <a href="/news_list?theme=sports&page=1">运动</a>
                                </li>
                        <li>
                             <a href="/news_list?theme=finance&page=1">财经</a>
                                </li>
                        <li>
                             <a href="/news_list?theme=technology&page=1">科技</a>
                                </li>
                        <li>
                            <a href="/news_list?theme=car&page=1">汽车</a>
                               </li>
                        <li>
                            <a href="/news_list?theme=house&page=1">房产</a>
                               </li>
                        <li>
                            <a href="/report">生成报告</a>
                               </li>
                     </ul>
                  </div>
                  <input type="text" name="name" class="textarea"  placeholder="请输入搜索内容..."   />  
                      <img src={% static "images/2.png"%} class="ripo1" />
                            </div>
            </div>
      </div>
      <div id="slideBox" class="slideBox">
      		<div class="hd">
        		<ul style="list-style-type: none;"><li></li><li></li></ul>
      		</div>
      		<div class="bd">
        		<ul style="list-style-type: none;">
          			<li >
          				<a href="http://www.SuperSlide2.com" target="_blank">
            					<img src={% static "images/timg2.jpg"%} />
          				</a>
          			</li>
          			<li>
          				<a href="http://www.SuperSlide2.com" target="_blank">
          					<img src={% static "images/timg4.jpg"%} />
          				</a>
          			</li>
        		</ul>
      		</div>
      </div>

      <div class="list-content">
      		<p class="text4" style="margin-left: 30px;"><b>NEWS</b></p>
            <p class="text5" style="font-size: 30px;float: right;">最新消息</p>
      		<ul>
            {% for news in News_Home %}
      			<li>
      				<div>

      					<div class="time">
      						<p class="date">{{ news.Date }}</p>
      						
      					</div>
              
      					<div class="list1">
      						<p class="list-head"><a href={{ news.url}}></a>{{ news.Title }}<span >积极分：{{ news.Pos_Score }}&nbsp;消极分：{{ news.Neg_Score }}&nbsp;情感极性：{{ news.Sentiment }}</span></p>
      						<p class="list-cotent">{{news.Hcontent}}</p>
      					</div>
               
      				</div>
      			</li>
            {% endfor %}

      		</ul>
      </div>
      <div class="bottom"></div>
      <script type="text/javascript">
	jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
</script>
</body>
</html>